body {
    padding-top: 20px;
    background-color: burlywood;
    justify-content: center;
}

h1 {
    color: #a52a2a;
    text-align: center;
}

.content {
    display: flex;
    gap: 50px;
    justify-content: center;
}

#menu {
    display: flex;
    border:black 3px solid;
    width: 25rem;
}

#grid {
    display: flex;
    width: 640px;
    height: 640px;
    border:black 3px solid;
    background-color: white;
    flex-wrap: wrap;
}

.square {
    border: 1px black dotted;
}

#menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 45px;
}

#menu button {
    width: max-content;
    font-size: 20px;
    color: white;
    background-color: brown;
    padding: 15px 30px;
    border-style: none;
    border-radius: 15px;
    border-bottom: black 3px solid;
    cursor: pointer;
}

#sizes, #colors {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#ccolor {
    width: 32px;
    height: 32px;
    background-color: black;
    border: 2px black solid;
}

#current {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}